!!!5
html
  head
    title #{title} - reKlout
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 reKlout
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus